.background {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.background2 {
  display: flex;
  flex-direction: column;
}

.font {
  font-size: 3rem;
  font-weight: bolder;
}

.font2 {
  font-size: 2rem;
  font-weight: bolder;
}
