.san:hover {
  cursor: pointer;
  background-color: #625dff;
  border-radius: 3rem;
  color: white;
}
.san.list_item_select {
  background-color: #625dff;
  border-radius: 3rem;
  color: white;
}

.list_item_hover {
  cursor: pointer;
}

.ant-drawer-body {
  flex-grow: 1;
  margin-top: 30px; 
  overflow: auto;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}