.san:hover {
  cursor: pointer;
  background-color: #625dff;
  border-radius: 3rem;
  color: white;
}
.san.list_item_select {
  background-color: #625dff;
  border-radius: 3rem;
  color: white;
}

.list_item_hover {
  cursor: pointer;
}
