.list_item_hover:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 3rem;
}
.list_item_select {
  background-color: gray;
  border-radius: 3rem;
}

.ant-drawer-body {
  flex-grow: 1;
  margin-top: 30px; 
  overflow: auto;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}